.CardDark {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background: linear-gradient(to left, rgb(1, 82, 182), rgb(20, 124, 221));
}

.CardDark h4 {
    font-size: 17px;
    text-align: center;
    color: rgba(255, 255, 255, 0.966);
}

.CardDark h6 {
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
}

.CardDark img {
    height: 80px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .CardDark h6 {
        font-size: 13px;
    }
}