.EducatorCard {
    width:100%;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 1px #0000006e;
}

.EducatorCard:hover {
    background-color: rgba(236, 236, 236, 0.877);
}

.Image-For-Large {
    height: 100px;
}

.Image-For-Small {
    width: 100%;
}

.Educator-Role {
    width: 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: linear-gradient(to right,  rgb(60, 151, 255), rgba(0, 102, 226, 0.932),   rgb(60, 151, 255));
    border-top-style: solid;
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    padding-top: 7px;
}

.Educator-Role h5 {
    color: rgba(255, 255, 255, 0.952);
    font-size: 18px;
}

.Mobile-Tab-Image {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}

.Align-Tab-Image {
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
    .Educator-Role {
        border-bottom-right-radius: 0px;
    }

    .EducatorCard h6 {
        color: rgb(97, 97, 97);
        font-size: 14px;
    }

    .EducatorCard h5 {
        font-size: 16px;
        color: rgb(0, 0, 0);
    }

    .Educator-Role {
        background: linear-gradient(to right,  rgba(255, 255, 255, 0), rgba(255, 255, 255, 0),   rgba(255, 255, 255, 0));
        border-color: rgba(255, 255, 255, 0);
        padding-top: 0px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .Educator-Role {
        border-bottom-right-radius: 0px;
    }

    .EducatorCard h6 {
        color: rgb(97, 97, 97);
    }

    .EducatorCard h5 {
        font-size: 17px;
        color: black;
    }
    
    .Educator-Role {
        background: linear-gradient(to right,  rgba(255, 255, 255, 0), rgba(255, 255, 255, 0),   rgba(255, 255, 255, 0));
        border-color: rgba(255, 255, 255, 0);
        padding-top: 0px;
    }
}