.EducatorBenifits {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Benifit-Box h5{
    font-size: 15px;
    color: rgb(0, 68, 196);
}

.Benifit-Box ul {
    padding-left: 18px;
}

.Benifit-Box li {
    font-size: 14px;
    color: rgb(37, 37, 37);
}

.Benifit-Button {
    display: flex;
    justify-content: center;
}

.Benifit-Button button {
    border-style: none;
    background: linear-gradient(to right, rgba(0, 102, 226, 0.932), rgb(60, 177, 255));
    height: 34px;
    width: 160px;
    border-radius: 5px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}