.Course-Information {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Course-Title h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Course-Description {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(160, 160, 160);
}

.Course-Description p {
    font-size: 15px;
    text-align: justify;
}

.Course-Title span {
    color: rgb(0, 80, 155);
}

.Apply-Form {
    background-color: rgb(238, 238, 238);
    border-radius: 6px;
    box-shadow: 2px 2px 4px 0px #000000a1;
}

.Join-Course h5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

.Join-Course span {
    color: rgb(0, 80, 155);
}

.Join-Course p {
    font-size: 15px;
}

.Detail-Set h6{
    font-size: 15px;
    color: rgb(73, 73, 73);
}

.Detail-Set span {
    font-weight: 500;
    color: rgb(0, 117, 25);
}

.Detail-Set .Course-Fee {
    color: rgb(219, 0, 0);
}

.Payments {
    box-shadow: 0px 0px 2px 2px #0000006e;
}

.Bank-Details {
    margin-top: -10px;
}

.Bank-Details h6 {
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.Bank-Details span {
    
    color: rgb(0, 57, 163);
}

.Bank-Details .Account-Number {
    color: blue;
}

.Payment-Instructions {
    border-left-style: solid;
    border-width: 1px;
    border-color: rgb(170, 170, 170);
}

.Payment-Instructions h5 {
    font-size: 15px;
}

.Advice {
    margin-top: -5px;
}

.Advice-Title {
    display: flex;
}

.Advice-Title h6 {
    font-size: 14px;
    color: rgb(0, 57, 163);
}

.Advice-Details p {
    font-size: 14px;
    margin-top: -10px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .Payment-Instructions {
        border-left-style: none;
        border-top-style: solid;
        padding-top: 23px;
        border-width: 1px;
        border-color: rgb(170, 170, 170);
    }

    .Detail-Set h6{
        font-size: 13px;
    }

    .Join-Course h5 {
        font-size: 21px;
        text-align: center;
    }

    .Join-Course p {
        font-size: 14px;
        text-align: center;
        color: rgb(255, 255, 255);
        background: linear-gradient(to right, rgb(0, 84, 187), rgb(31, 191, 255));
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .Course-Title h2 {
        font-size: 22px;
    }

    .Course-Description p {
        font-size: 14px;
    }

    .Bank-Details h6 {
        font-size: 14px;
    }
}