.Data-Box {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 4px 1px #00000063;
}

.Data-Title h3 {
    font-size: 18px;
    text-align: center;
}

.Data-Title h4 {
    font-size: 14px;
    text-align: center;
    background-color:rgb(208, 239, 255)
}

.Data-Box p {
    font-size: 14px;
    text-align: center;
}