.Title-Educators {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(199, 199, 199);
}

.Choose-Education-Role h2{
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.Choose-Education-Role span {
    color: rgb(1,86,188);
}

.Educator-Intro {
    display: flex;
    align-items: center;
}

.Educator-Intro p {
    text-align: justify;
    font-size: 15px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .Educator-Intro p {
        font-size: 14px;
    }

    .Choose-Education-Role h2{
        font-size: 22px;
    }
}