.ContactForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bullet-Box h5{
    font-size: 15px;
    color: rgb(0, 68, 196);
}

.Bullet-Box ul {
    padding-left: 18px;
}

.Bullet-Box li {
    font-size: 14px;
    color: rgb(37, 37, 37);
}

.Align-Benifit-Button {
    display: flex;
    justify-content: center;
}

.Benifit-Button {
    width: 160px;
}

.Bullet-Box p {
    font-size: 14px;
    margin-top: -7px;
    font-weight: 400;
    color: rgb(134, 134, 134);
    margin-bottom: 3px;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
    .Bullet-Box h5{
        font-size: 14px;
    }

    .Bullet-Box li {
        font-size: 12px;
    }

    .Bullet-Box p {
        font-size: 12px;
    }
}