.BackButton button{
    border-style: none;
    background: linear-gradient(to right, rgb(0, 84, 187), rgb(19,115,205));
    box-shadow: 1px 1px 1px 1px #00000094;
    border-bottom-right-radius: 4px;
    color: rgb(255, 255, 255);
    display: flex;
    padding-right: 23px;
    padding-left: 8px;
}

.BackButton button:hover {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    color: rgb(0, 69, 173);
    font-weight: 500;
}

.BackButton i {
    font-size: 21px;
}

.BackButton p {
    margin-top: 6px;
    font-size: 13px;
    height: 11px;
}