.About-Selection {
    background-color: rgb(231, 231, 231);
}

.About-Selection h6 {
    text-align: center;
    font-size: 15px;
}

.About-Selection span{
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.Our-Belief {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(207, 207, 207);
}

.Our-Belief img {
    width: 150px;
}

.Val-and-Object {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(207, 207, 207);
    background-color: rgb(240, 240, 240);
}

.Objectives-About {
    background: linear-gradient(to right, rgb(1, 82, 182), rgb(20, 124, 221));
    border-radius: 6px;
}

.Values-About {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(20, 124, 221);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}

.About-Helping h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: start;
    margin-bottom: 20px;
}

.About-Helping span {
    color: rgb(1,86,188);
}

.About-Helping p {
    font-size: 15px;
    margin-bottom: 5px;
    text-align: justify;
}

.Navigating-Links-About {
    display:flexbox
}

.About-Navigations {
    display: inline-flex;
    justify-content: start;
    white-space: nowrap;
}

.About-Navigations a {
    font-size: 14px;
}

.Asking-Faqs {
    background-color: rgb(231, 231, 231);
}

.Faq-List h6 {
    color: rgb(0, 0, 0);
}

.Asking-Faqs p {
    margin-top: -6px;
    font-size: 15px;
    color: rgb(100, 100, 100);
}

.Faq-List {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(207, 207, 207);
}

.Faq-List p{
    font-size: 15px;
    text-align: justify;
    margin-top: -4px;
    color: rgb(61, 61, 61);
}

.Contact-About-Box {
    background-color: rgb(231, 231, 231);
}

.Contact-About-Box h6 {
    text-align: center;
}

.Contact-About-Box span {
    color: rgb(0, 77, 165);
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .About-Helping h3 {
        font-size: 22px;
    }

    .About-Helping p {
        font-size: 14px;
    }

    .About-Navigations a {
        font-size: 13px;
    }

    .About-Selection h6 {
        font-size: 14px;
        text-align: justify;
    }

    .Faq-List h6 {
        font-size: 14px;
        color: rgb(0, 0, 0);
    }

    .Faq-List p {
        font-size: 14px;
        color: rgb(73, 73, 73);
    }


    .Contact-About-Box h6 {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.973);
    }

    .Contact-About-Box span {
        color: rgb(201, 230, 255);
    }

    .Asking-Faqs h5 {
        font-size: 18px;
    }

    .Asking-Faqs p {
        font-size: 14px;
    }

    .Contact-About-Box {
        background-color: rgb(12,103,198);
    }

}