.HoriontalScroller h6{
    font-size: 20px;
}

.Side-Scroller {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    display: flex;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.24);
}

.Side-Scroller::-webkit-scrollbar{
    height: 10px;
}

.Side-Scroller::-webkit-scrollbar-track{
    background-color: rgb(211, 210, 210)
}

.Side-Scroller::-webkit-scrollbar-thumb {
    background-color: rgb(0, 102, 170);
    border-radius: 20px;
}

.List-Item-Line {
    padding-left: 20px;
}

.List-Item-Line li {
    font-size: 15px;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
    .Side-Scroller::-webkit-scrollbar{
        height: 5px;
    }

    .HoriontalScroller h6{
        font-size: 18px;
    }

    .List-Item-Line li {
        font-size: 13px;
    }
}